.reveal .slides {
    .big-swatch {
        width: 120px;
        height: 120px;
    }

    .swatch {
        width: 60px;
        height: 60px;
    }

    .swatch, .big-swatch {
        font-size: 10pt;
        padding: 10px 5 10 15;
        margin: 10px;
        color: white;
        float: left;
    }
}
