.reveal .slides {
    #editorial-guidelines {
        > ul {
            font-size: 70%;
        }
    }

    #trademarking-guidelines {
        > ul {
            font-size: 80%;
        }
    }

    .contact-info {
        position: absolute;
        top: 80%;
        font-size: 18pt;

        address {
            float: left;
            padding: 0 30px;
            margin:  0 30px;
            height: 110px;
            border-left: solid 1px grey;
        }
    }

    #color-palette {
        .content-boundary {
            border: 2px dotted $medium-neutral;
            height: 80%;
        }

        .palette-text {
            position: absolute;
            margin-top: 20px;
            width: 49%;
            height: 100%;
            left: 50%;
            font-size: 0.8em;

            ul {
                display: block;
                li {
                    font-size: 0.7em;
                }
            }

            hr {
                width: 98%;
                margin-left: 0;
                height: 2px;
                background-color: $medium-neutral;
            }

            h3 {
                font-size: 1.3em;
                color: $medium-green;
            }
        }
    }

    #graphics-and-typeface {
        .slide-section {
            //height: 200px;

            h3 {
                color: $medium-neutral;
                font-size: 0.8em;
            }

            position: relative;
            .icons-typeface {
                position: absolute;
                left: 40%;
                top: 10%;
                font-size: 0.8em;
            }
            img:first-of-type {
                margin-left: 30px;
            }

            border-top: 2px solid $medium-neutral;
        }
    }

    .call-to-action {
        position: relative;
        top: 10%;
        height: 80%;

        h2 {
            font-size: 3rem;
        }

        .inside {
            font-weight: normal;
            position: absolute;
            top: 10%;
            left: 5%;
            width: 70%;
            padding: 5% 10%;
            background-color: $light-neutral;
        }

        .outside {
            position: absolute;
            top: 80%;
            left: 8%;
        }
    }

    #disclaimers {
        height: 80%;
        margin: 10% 10% 0 0;
        text-align: left;

        h3 {
            color: white;
            font-size: 1.8rem;
            margin: 2rem 0 0.5 0;
        }

        p {
            color: white;
            font-size: 1.2rem;
        }
    }
}
