.slides {
    box-shadow: 2px 2px 20px;
    border: $debug 2px magenta;

    > section {
        border: $debug 2px red;

        /* Margin percentages (e.g. 5%) are treated as being relative to the
           containing element's *width*, even the top and bottom margins. */
        margin: $section-top-margin / $aspect-ratio $section-left-margin;
        width: $section-width;
        height: $section-height;
        padding: 0;

        section {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        img {
            /* Disable background 4px border around images */
            border: none;
            background: none;
            box-shadow: none;
        }

        .full-screen {
            // True up section back to almost full slide dimensions.
            $fs-left-margin: 25px;
            // Need to keep margins with aspect ratio in order to avoid cropping.
            $fs-top-margin: $fs-left-margin / $aspect-ratio;

            width: $slide-width - 2 * $fs-left-margin;
            height: $slide-height - 2 * $fs-top-margin;

            // Shift back from <section> offset to top-left edge of slide,
            // then add new margin.
            margin-left: -($slide-width * $section-left-margin / 100%) + $fs-left-margin;
            margin-top: -($slide-height * $section-top-margin / 100%) + $fs-top-margin;

            // Make sure the max dimensions don't get in the way.
            max-width: 1000%;
            max-height: 1000%;

            p {
                //height: 100%;
            }

            a {
                position: inherit;
            }

            img, iframe {
                // Centre image
                margin: 0 0 0 0;

                // Blow image up to fit containing <section> whilst
                // retaining aspect ratio.
                height: 100%;
                width: 100%;
                object-fit: contain;

                // Ensure image's size is not constrained.  This can
                // also help fit an image to its container, but without
                // setting width or height it won't scale beyond its
                // original size.
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .vcenter {
        // http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
        //
        // This did not work:
        // display: inline-block;
        // vertical-align: middle;
        // float: none;
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 3.6rem;
        font-weight: bold;
        margin-top: 1rem;
    }

    h2 {
        font-size: 3.2rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 0.2rem;
    }

    ul + h3, ul + p {
        margin-top: 0.8em;
    }

    li + li {
        margin-top: 0.4em;
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
        color: $SUSE-green;
        margin-top: 0.2rem;
        margin-bottom: 1.5rem;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $bright-blue !important;
    }

    a:hover {
        color: $bright-royal !important;
    }

    .progress span {
        background-color: black
    }

    sup, sub {
        font-size: 40%;
    }

    sup {
        vertical-align: top;
        position: relative;
        top: 0.3em;
    }

    sub {
        vertical-align: baseline;
    }

    pre {
        font-size: 1.6rem;
    }

    tt, code, code * {
        font-family: "Courier New", monospace !important;
        font-weight: bold;
        background-color: transparent;
    }

    tt, code {
        color: $medium-dark-neutral;
        text-shadow: none;
        text-transform: none;
    }

    pre {
        box-shadow: none;
        padding: 13px 13px;
        background-color: $tint-neutral;
    }

    pre code {
        font-family: "Source Code Pro", monospace !important;
        font-weight: normal;
        text-shadow: none;
        text-transform: none;
    }

    section {
        ul {
            $bullet-padding: 40px;

            margin-left: 20px;
            margin-top: 0.6em;
            padding-left: $bullet-padding;
            border: $debug 1px yellow;
            list-style-type: none;

            li:before {
                //vertical-align: middle;
                content: $list-bullet;
                float: left;
                margin-left: -$bullet-padding;
            }

            // Nested lists get hyphens not bullets, and
            // get progressively smaller fonts.
            ul, ol {
                li:before {
                    content: $list-hyphen;
                }

                font-size: 0.8em;
            }
        }

        li {
            border: $debug 1px blue;
            padding: 0 0;
        }
    }

    .internal-use-footer {
        font-size: 1.4rem;
        color: $bright-magenta;
        font-weight: bold;
        position: absolute;
        bottom: 0%;
        width: 100%;
    }
}
