.pets-vs-cattle {
    .row {
        height: 40%
    }

    ul {
        font-size: 1em;
        margin: 0 30;

        li {
            margin-top: 3px;
        }
    }

    img {
        display: block;
        width: 48%;
        object-fit: contain;
        margin-top: -5%;
    }

    .pets {
        img {
            margin: 0 0 0 auto;
        }
    }

    .cattle {
        ul {
            // FIXME: Ugh. This should be vertically centred.
            margin-top: 40px;
        }
    }
}

#cattle, #pets, #configurability {
    img.cloud {
        width: 100%;
        height: 87%;
        margin-top: -2%;
    }

    img, svg, .fade {
        position: absolute;
    }

    $top-row: 36%;
    $left-col: 19%;

    $col-delta: 16%;
    $row-delta: 15%;
    $compute-node-width: 15%;

    .compute-node, .two-compute-nodes {
        width: $compute-node-width;
        top: $top-row - 3%;
        margin-left: -2%;
    }

    .two-compute-nodes {
        width: $compute-node-width + $col-delta;
    }

    .reboot-compute-node {
        width: 15%;
        top: $top-row + 10%;
        margin-left: -2%;
    }

    .fade {
        border-radius: 9%;
        background: $bright-red;
        opacity: 0.6;
        height: 50%;
        margin-top: 1%;
    }

    .col-1 {
        left: $left-col;
    }

    .col-2 {
        left: $left-col + $col-delta;
    }

    .col-3 {
        left: $left-col + 2*$col-delta;
    }

    .col-4 {
        left: $left-col + 3*$col-delta;
    }

    .cow {
        width: 11%;
    }

    .kitteh {
        width: 12%;
        margin-top: 1.5%;
        margin-left: -0.5%;
    }

    .cow-bang {
        width: 11%;
        margin-left: -1%;
        margin-top: -1%;
    }

    .row-1 {
        top: $top-row;
    }
    .row-2 {
        top: $top-row + $row-delta;
    }
    .row-3 {
        top: $top-row + 2*$row-delta;
    }
}

#cattle-dead {
    > p {
        margin: 0;
    }

    img.cattle {
        height: 70%;
        margin-left: 15%;
        margin-top: -1%;
        margin-bottom: 3%;
    }

    img.bang {
        position: absolute;
        height: 80%;
        left: 22%;
        top: 5%;
    }
}

#kittehs-dead {
    > p {
        margin: 0;
    }

    img.pets {
        height: 70%;
        margin-left: 15%;
        margin-top: -1%;
        margin-bottom: 3%;
    }

    img.bang {
        position: absolute;
        height: 80%;
        left: 22%;
        top: 5%;
    }
}

#justification {
    img {
        position: absolute;
        height: 45%;
        left: 25%;
        top: 25%;
    }
}
